@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;700&display=swap");

/*default*/
* {
    font-family: "Readex Pro", sans-serif;
}


* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*default*/

html {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* ----- home ----- */

.screen {
    width: 100vw;
    height: 100vh;
    postion: overlay;
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5)),
    url('./img/background.jpeg');
}

.home {
    text-align: center;
    padding-top: 30vh;
}

.primary-title {
    color: white;
    font-size: 90px;
    padding-bottom: 1vw;
}

.primary-button {
    background: linear-gradient(45deg, #fd2b75, #ff4b2b);
    border: 0;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 65px;
    transition: 0.3s all;
    text-anchor: middle;
}

.primary-button:hover {
    background: linear-gradient(260deg, #fd2b75, #ff4b2b);


}

/*home*/

/* ----- navbar ----- */
.navbar {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 50px 40px;
    width: 100%;
    position: absolute;
    transition: all 0.5s;
}

.navbar .links-navbar ul {
    display: flex;
    align-items: center;
}

.navbar .links-navbar ul li {
    margin: 0 0 0 50px;
}

a.logo {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}

.navbar .links-navbar ul li a {
    color: white;
    font-size: 20px;
    font-weight: 200;
}

.navbar .links-navbar ul li a:hover {
    color: #d6002f;
    text-decoration: underline;
}

.navbar .links-navbar ul li a.secondary-button {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.navbar .links-navbar ul li a.secondary-button:hover {
    color: white;
    background: black;
    text-decoration: none;
}

/*button-login*/
.login-button {
    border: 0;
    border-radius: 30px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 30px;
    transition: 0.3s all;
}

.login-button:hover {
    color: white;
    background: black;
    text-decoration: none;
}

/*navbar*/


/* ----- hamburger menu ----- */
.menu-hamburger {
    display: none;
}

.button-burger-menu {
    background: white;
    border-radius: 5px;
    height: 5px;
    transition: all 0.5s;
    width: 35px;
}

.button-burger-menu::before,
.button-burger-menu::after {
    background-color: white;
    border-radius: 5px;
    content: "";
    height: 5px;
    position: absolute;
    transition: all 0.5s;
    width: 35px;
}

.button-burger-menu::before {
    transform: translateY(-10px);
}

.button-burger-menu::after {
    transform: translateY(10px);
}

.open .button-burger-menu {
    background-color: transparent;
    transform: rotate(360deg);
}

.open .button-burger-menu::before {
    transform: rotate(45deg);
}

.open .button-burger-menu::after {
    transform: rotate(-45deg);
}

/* ----- Auth Model ----- */
.auth-model {
    position: absolute;
    left: 0;
    right: 0;
    top: 25vh;
    margin-left: auto;
    margin-right: auto;
    /*max-width: 360px;*/
    width: clamp(200px, 50%, 360px);
    /*height: clamp(290px,50%, 340px);*/
    /*height: 600px;*/
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    transition: all 1s;
    opacity: 1;

}

.auth-model .close-icon {
    float: right;
}

.auth-model p {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.auth-model form {
    display: flex;
    flex-direction: column;

}

.auth-model input[type=email],
.auth-model input[type=password] {
    padding: 8px;
    margin: 8px;
    font-size: 17px;
}

.submit-button {
    color: rgb(121, 119, 119);
    background: white;
    /*color: #fe3175;*/
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid rgb(121, 119, 119);
    margin: 6px;
}

.submit-button:hover {
    color: rgb(48, 48, 48);
    border: solid 2px rgb(48, 48, 48);
}

/* ----- OnBoarding Page ----- */
.onboarding{
    border-top: solid 1px rgb(154,154,154);
}

.onboarding h2{
    margin-top: 30px;
}
.onboarding form {
    display: flex;
    justify-content: center;

}

.onboarding form section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 35%;
    text-align: start;
    /*margin-top:20px;*/
}

.onboarding form input {
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.onboarding form label {
    margin: 10px 10px 10px 0;
}

.onboarding form .multiple-input-container {
    display: flex;
    flex-direction: row;
}

.onboarding form .multiple-input-container input {
    margin-right: 10px;
}

.onboarding form .multiple-input-container label {
    padding: 10px;
    border: solid 2px rgb(144, 144, 144);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
}

.onboarding form input[type="number"] {
    width: 10%;
}

.onboarding form input[type="radio"] {
    display: none;
}

.onboarding form input[type="radio"]:checked + label {
    border: solid 2px rgb(221, 39, 22);
}

.onboarding form input[type="submit"]:hover {
    background-color: rgb(235, 235, 235);
}

.onboarding form input[type="submit"]:active {
    background-color: rgb(226,115,115);
}

.onboarding form .photo-container img{
    width: 70%;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}